<h1>Hello {{name}}</h1>
<link rel="stylesheet" type="text/css" href="create.css">
<center>
	<div class="form-style-3">
		<form ng-submit="addTask()">
		<fieldset><legend>Task Details</legend>
		<input type="text" ng-model="name"><br/><br/>
		<input type="button" name="" value="Create Task" ng-click="addTask()">

   			 <!-- <button ng-click="addTask()">Add</button> -->
   			<input type="button" name="" value="Delete">
   			<input type="button" name="" value="Cancel"></div>

</fieldset>
</form>
</div>
</center>